:root {
  --primary: #F7EA68;
  --heading: #12141D;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", var(--font-heading-family), sans-serif !important;
}


.custom-bg-form-section {
  padding: 8rem 2rem 10rem;
  color: #fff;
  text-align: center;
}

.custom-bg-form-wrapper {
  max-width: 932px;
  margin: 0 auto;
  border-radius: 12px;
}

.custom-form-heading {
  font-size: 7.5rem;
  color: var(--heading);
  line-height: 8rem;
  font-weight: bold;
  margin: 0 0 15px;
  text-decoration: underline;
}

.custom-form-subtext {
  margin: 0 auto 40px;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: -0.5px;
  color: var(--heading);
  font-weight: 400;
  max-width: 783px;
}

.custom-form-textarea {
  width: 100%;
  height: 259px;
  padding: 19px 16px;
  font-size: 2rem;
  border: none;
  border-radius: 10px;
  resize: vertical;
  background-color: #E7E7E7;
  resize: none;
}

:is(textarea, input):focus-visible {
  outline: none;
  outline-offset: unset;
  box-shadow: none;
}

.form_sec_new {
  background: #FFF;
  padding: 16px;
  border-radius: 20px;
  margin-bottom: 65px;
  border: 2px solid #000;
  max-width: 768px;
  margin: 0 auto 65px;
}

.box_wraping{
  position: relative;
  margin: 0 0 19px;
}

.word_count {
  color: #646464;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 100%;
  text-align: right;
  position: absolute;
  bottom: 22px;
  right: 16px;
}

textarea.custom-form-textarea::placeholder {
  color: #646464;
  font-size: 2rem;
  max-width: 348px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  font-family: var(--font-body-family);
  letter-spacing: 0%;

}

.custom-form-button {
  background-color: var(--heading);
  color: #FFF;
  padding: 16px;
  width: 100%;
  min-height: 56px;
  border: none;
  font-weight: 500;
  border-radius: 1rem;
  line-height: 2.4rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: background-color .3s;
}

.custom-form-footer-text {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.4rem;
  color: var(--heading);
}


/* header */
.cst_header_item .header__menu-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: 'Heebo', sans-serif;
}

.cst_header_item .custom-header-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 20px;
  vertical-align: middle;
  background: var(--heading);
  color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-decoration: none;
}

.cst_header_item .header__icons {
  gap: 12px;
  align-items: center;
}

.cst_header_item .header__inline-menu ul {
  margin-left: 15.7rem;
}

.cst_header_item .list-menu {
  gap: 24px;
}

.cst_header_item .login_link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

/* footer */
footer .custom_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 43px;
  border-bottom: 1px solid rgb(18 20 29 / 10%);
  flex-wrap: wrap;
}

footer .bottom_layout {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

body .no-padding-top {
  padding-top: 0;
}

.custom_footer ul li .link {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-family: 'Heebo', sans-serif;
}

:is(.custom_footer ul li .list-menu__item--active, .header__active-menu-item) {
  font-weight: 700;
}

:is(.social__links ul li .link, .custom_footer .footer-block__details-content .list-menu__item--link) {
  padding: 0;
}

.bottom_layout .copyright__content {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.bottom_layout .policies li:before {
  display: none;
}

.social__links .list-social__link {
  color: var(--heading);
}

/* stats section */

.stats_section {
  padding: 10rem 0 9rem;
}

.main_text {
  display: grid;
  gap: 76px;
  margin-bottom: 6.6rem;
  grid-template-columns: 6.5fr 3.5fr;
}

.main-head h2 {
  font-size: 5.2rem;
  line-height: 6rem;
  margin: 0;
  font-weight: bold;
}

.main-head p,
.auth _text {
  font-size: 1.8rem;
  color: var(--heading);
  line-height: 3rem;
  font-weight: 400;
  margin: 0;
}

.main_stat_wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(316px, 3fr));
  gap: 8.5rem;
}

.inner_stats_new:not(:last-child) {
  border-right: 3px solid rgb(63 63 70 / 10%);
  padding-right: 8.5rem;
}

.inner_stats_new h3 {
  font-size: 2rem;
  line-height: 2.8rem;
  margin: 0 0 2rem;
  font-weight: bold;
}

.inner_stats_new p {
  font-size: 1.6rem;
  color: var(--heading);
  line-height: 2.8rem;
  font-weight: 400;
  margin: 0;
}

.box_icon {
  margin-bottom: 30px;
  height: 80px;
}


/* inspiriation css */
.inspiration-gallery {
  padding: 94px 0 109px;
  background-color: #EEEEEE;
}

.inspiration-gallery .gallery_head h2 {
  margin-bottom: 20px;
  text-align: center;
}

.inspiration-gallery .gallery_head p {
  margin-bottom: 46px;
  text-align: center;
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 28px;
  margin-bottom: 50px;
}

.inspiration-gallery .gallery_wrapper {
  padding: 40px 16px;
  background: #FFFFFF;
  border-radius: 20px;
  border: 1px solid #000;
  box-shadow: 0px 10px 15px -3px #0000004D;
}

.inspiration-gallery .gallery_wrapper img {
  height: 268px;
  object-fit: contain;
}

.btn-black-tshirt {
  background-color: var(--heading);
  color: #fff;
  padding: 2rem 7.8rem 2rem 7.9rem;
  border-radius: 1rem;
  transition: background-color 0.2s ease;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0;
  line-height: 2.8rem;
  border: 1px solid var(--heading);
}

.btn-black-tshirt:hover,
.custom-form-button:hover {
  background-color: #24292fe6;
}

.btn_wrap {
  display: flex;
  justify-content: center;
}

/* why choose  */
.why-choose-section {
  padding: 100px 0;
  background-color: #fff;
}

.why-choose-head h2 {
  margin-bottom: 14px;
}

.why-choose-head p {
  margin-bottom: 50px;
}


/* faq section */
.faq-section {
  padding: 90px 0 100px;
}

.faq_titles h2 {
  margin-bottom: 50px;
}

.faq-contain {
  background-color: #FFFFFF;
  border: 1px solid var(--heading);
  max-width: 1076px;
  margin: auto;
  border-radius: 10px;
}

.faq-item {
  padding: 3rem 4rem 2.6rem;
}

.faq-item:not(:first-child) {
  border-top: 1px solid var(--heading);
}

.faq-question {
  cursor: pointer;
  font-family: "Sora", var(--font-heading-family), sans-serif !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 3rem;
  color: var(--heading);
  letter-spacing: 0px;
}

.faq-answer {
  display: none;
  padding-top: 1rem;
  color: var(--heading);
  font-family: "Sora", var(--font-heading-family), sans-serif !important;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3rem;
  letter-spacing: 0px;
}

.faq-item.open .faq-answer {
  display: block;
}

.faq-image {
  max-width: 100%;
  margin: 0 auto 2rem;
}

.text-center {
  text-align: center;
}

@media screen and (max-width:575px) {
  body .auth_main {
    flex-wrap: wrap;
  }
}

@media screen and (max-width:767px) {

 .shopify-section .customizer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
  }

  .tab-bar,
  .tab-content,
  .rest-content {
    width: 100%;
  }

  body .auth_main .main-form {
    max-width: 100%;
  }

  :is(body .auth_main .login,
    body .auth_main .register) {
    margin-top: 0;
  }

  .custom-bg-form-section {
    padding: 5rem 2rem 5rem;
  }

  .custom-form-heading {
    font-size: 3.8rem;
    line-height: 5rem;
  }

  .custom-form-subtext {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .cst_header_item .custom-header-button {
    display: none;
  }

  .main_text {
    gap: 0;
    margin-bottom: 3rem;
    grid-template-columns: 1fr;
  }

  .main-head h2 {
    font-size: 3rem;
    line-height: 4rem;
    margin: 0 0 2rem;
  }

  .main_stat_wrap {
    gap: 30px;
  }

  .inner_stats_new:not(:last-child) {
    border-bottom: 3px solid rgb(63 63 70 / 10%);
    padding: 0 0 3rem;
    border-right: none;
  }

  :is(.stats_section, .inspiration-gallery, .why-choose-section, .faq-section) {
    padding: 40px 0;
    text-align: center;
  }

  footer .custom_footer {
    justify-content: center;
    padding-bottom: 20px;
  }

  .custom_footer ul.footer-block__details-content {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
    margin: 0 0 1rem;
  }

  .faq-item {
    padding: 1.6rem;
  }

  .faq-question {
    font-size: 1.6rem;
    text-align: left;
    line-height: 2rem;
  }

  .faq-answer {
    font-size: 1.4rem;
    text-align: left;
    line-height: 2.4rem;
  }

  .custom_footer ul li .link {
    font-size: 1.4rem;
    line-height: 2.4rem;
  }
}

@media screen and (max-width:991px) {

  :is(body .auth_main .login,
    body .auth_main .register) {
    margin-top: 1.4rem;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .auth_main .auth_heading {
    margin-bottom: 1.5rem;
  }

  .cst_header_item .custom-header-button {
    display: none;
  }

  .main-head h2 {
    font-size: 3.2rem;
    line-height: 5rem;
  }

  .main_text {
    gap: 24px;
    margin-bottom: 4rem;
    grid-template-columns: 5fr 5fr;
  }

  .main_stat_wrap {
    gap: 3rem;
  }

  .inner_stats_new:not(:last-child) {
    border-right: 3px solid rgb(63 63 70 / 10%);
    padding-right: 4rem;
  }

  :is(.stats_section, .inspiration-gallery, .why-choose-section, .faq-section) {
    padding: 50px 0;
    text-align: center;
  }

  .custom-form-heading {
    font-size: 5rem;
    line-height: 6rem;
  }

  .faq-answer {
    text-align: left;
  }
}


@media (min-width:992px) and (max-width:1200px) {

  .custom-form-heading {
    font-size: 6rem;
    line-height: 7.2rem;
  }

  .main_stat_wrap {
    grid-template-columns: repeat(auto-fill, minmax(25%, 3fr));
    gap: 3.5rem;
  }
}


@media screen and (min-width:1440px) {
  body .auth_main {
    gap: 13.4rem;
  }

}

/* login */
.auth_main {
  display: flex;
  padding: 0 1rem;
  gap: 2.4rem;
}

:is(.auth_main .login,
  .auth_main .register) {
  width: 100%;
  padding-top: 0;
  margin-top: 7.4rem;
}

.img_auth_main {
  max-width: 713rem;
  width: 100%;
}

.main-auth-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 60px;
  letter-spacing: 0px;
  color: var(--heading);
  margin: 0;
}

.auth_heading {
  margin-bottom: 3.5rem;
}

.auth_main .main-form {
  max-width: 500px;
}

.auth_main .customer form {
  margin: 0;
}

.pass-icon {
  position: absolute;
  top: 20.5px;
  right: 18.8px;
  cursor: pointer;
  color: rgba(18, 20, 29, 0.5);
}

.auth_btn::before,
.auth_btn::after {
  display: none;
}

.auth_main .main-form .auth_btn {
  width: 100%;
  background: var(--primary);
  color: #12141D;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: -1%;
  border-radius: 10px;
  padding: 16px 0;
  border: 1px solid var(--heading);
}

.auth_main .sign_in {
  text-align: center;
}

input[type='checkbox'] {
  accent-color: #f7ea68;
}

.or_text {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  position: relative;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #6E6E6E;
  margin-bottom: 30px;
}

.or_text::before,
.or_text::after {
  content: '';
  width: 45%;
  background: #D9D9D9;
  height: 1px;
  top: 50%;
}

.auth_main .sign_google {
  margin-bottom: 4.3rem;
  padding: 14px 0;
  width: 100%;
  border: 1px solid var(--heading);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  gap: 8px;
}


/* tshirt customize */
.customizer {
  background: #F5F5EF;
  padding: 15px 20px;
  display: grid;
  grid-template-columns: 90px 360px 1fr;
  /* height: 100dvh; */
}

.customizer h3 {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0px;
  margin-bottom: 1px;
}

.main-tab-content {
  background: #FFF;
  padding: 23px 20px;
  margin-left: 6px;
  box-shadow: 0px 0px 15px -3px #0000001A;
  border-radius: 10px;
  position: relative;
}

.tabs {
  display: flex;
  flex-direction: column;
  max-width: 90px;
  width: 100%;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 15px -3px #0000001A;
  border-radius: 10px;
}

.tabs button {
  padding: 18px 7px;
  border: none;
  background: #ffffff;
  cursor: pointer;
  text-align: left;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(63 63 70 / 10%);
}

.tabs button span {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 3rem;
  letter-spacing: 0px;
  text-align: center;
  color: var(--heading);
  opacity: .5;
}

.tabs button.tab-link.active svg {
  z-index: 9;
}

.tabs button.tab-link.active svg path,
.tabs button.tab-link.active span {
  opacity: 1;
  font-weight: 700;
  z-index: 9;
}

button.tab-link.active::after {
  content: '';
  background: #ffffff;
  position: absolute;
  width: 105%;
  height: 100%;
  right: -10px;
  z-index: 1;
}

.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  position: relative;
}

.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 1rem;
}

#tshirt-canvas {
  border: 1px dashed #ccc;
  background: #fff;
  inset: 0;
  margin: 0;
}

.footer-actions {
  margin-top: 1rem;
}

.generate-btn {
  background: var(--primary);
  border: none;
  padding: 19px 78px 19px 79px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  max-width: 250px;
  border-radius: 10px;
  border: 1px solid var(--heading);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.generate-btn[disabled],
.custom-form-button[disabled]{
  cursor: not-allowed;
  opacity: .7;
}

.btn_ai_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.btn_ai_group .btn_main_top {
  padding: 4px 15px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.8rem;
  letter-spacing: 0px;
  border: 1px solid rgb(18 20 29 / 50%);
  border-radius: 7px;
  background: #0000;
  cursor: pointer;
}

.btn_ai_group .sec_btn {
  border: 1px solid var(--primary);
  background-color: #FCF9DA;
}

.search_prompt {
  width: 100%;
  min-height: 188px;
  padding: 13px 20px 13px 13px;
  font-family: var(--font-body-family);
  border-radius: 10px;
}

.word_count_t {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 16px;
  text-align: right;
}

.propmt {
  margin-bottom: 16px;
}

.img_specific {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 8px;
}

.img-btn img {
  border-radius: 10px;
  border: 1px solid #E8E8E2;
}

.btn_margin {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -0);
}

.search_prompt::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: left;
}


.controls button {
  padding: 8px 32px;
  border: 1px solid var(--heading);
  background: #FFF;
  border-radius: 7px;
  font-weight: 400;
  font-size: 14px;
  color: var(--heading);
  line-height: 28px;
  cursor: pointer;
}

.controls button.active {
  font-weight: 700;
}

.upload_box {
  height: 188px;
  border-radius: 10px;
  border: 1px dashed #12141D80;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.list-point {
  padding: 0 0 0 18px;
  margin: 0 0 30px;
}

:is(.list-point li, .main_text_custom p) {
  font-weight: 400;
  font-size: 14px;
  line-height: 23px;
  margin: 0 0 5px 0;
}


.footer-actions {
  display: flex;
  justify-content: end;
  width: 100%;
}

.footer-actions button {
  max-width: 250px;
  width: 100%;
}

.main_new_cst {
  position: relative;
}

input#uploadImage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
  opacity: 0;
}

/* 
.canvas-container {
    position: unset !important;
}
 */
.cst_toolbar {
  position: absolute;
  top: 0;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #ffffff;
  padding: 15px 20px;
  border-radius: 10px;
  z-index: 9;
  box-shadow: 0px 0px 15px -3px #0000001A;
}

.cst_toolbar button {
  background-color: #FFF;
  border: none;
  padding: 4px;
  cursor: pointer;
}

.form_control {
  padding: 10px;
  width: 100%;
  border-radius: 0;
  border: 1px solid var(--heading);
}

.font-wrapper {
  margin: 25px 0 42px;
  font-family: sans-serif;
  overflow-y: scroll;
  height: 300px;
}

.design-list,
.ai-image-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.design-list .my-design img,
.ai_img img {
  max-width: 95px;
  width: 100%;
  overflow: hidden;
  min-height: 95px;
  margin: auto;
  aspect-ratio: 2/2;
  object-fit: contain;
  border: 1px solid #E8E8E2;
  border-radius: 10px;
  cursor: pointer;
}

.design-list .fa-solid {
  background: var(--primary);
  padding: 5px;
  color: var(--heading);
  border-radius: 4px;
}

.design-list .icons {
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  font-size: 1.4rem;
}

.my-design:hover .icons {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  background: #00000047;
  /* transform: translateY(-50%); */
  height: 95px;
  border-radius: 10px;
  transition: hover .5s ease-in-out;
}

.my-design {
  position: relative;
}

.main_bottom_login {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order_inner-wrap {
  display: flex;
  gap: 15px;
  padding: 10.7px 0;
  border-bottom: 1px solid rgb(63 63 70 / 10%);
}

.order_inner-wrap h5,
.order_inner-wrap .price {
  color: var(--heading);
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  margin: 0;
}

.order_inner-wrap .price {
  text-transform: uppercase;
}

.order-details p {
  opacity: .5;
  margin-bottom: 2px;
}

.order_inner-wrap img {
  max-width: 72px;
  object-fit: contain;
  aspect-ratio: 2/2;
  border: 1px solid #E8E8E2;
  border-radius: 10px;
  height: 72px;
}

.group_btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.addons {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

input#font-color {
  background: #ffffff;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.addons button {
  background: #ff000000;
  border: 1px solid var(--primary);
  color: var(--heading);
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.addons button.active {
  background: var(--primary);
  color: var(--heading);
}

.font-wrapper::-webkit-scrollbar {
  width: 8px;
}

.font-wrapper::-webkit-scrollbar-track {
  background: #e8e8e9;
  border-radius: 10px;
  box-shadow: inset 0 0 4px #e8e8e9;
  min-height: 8px;
}

.font-wrapper::-webkit-scrollbar-thumb {
  background: #F7EA68;
  border: 1px solid #000;
  border-radius: 10px;
}


.order-tabs button.tab-button {
  padding: 5px 17.5px;
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0px;
  background: #0000;
  border: 1px solid #12141D;
  border-radius: 10px;
  color: #12141D;
  opacity: .5;
  box-shadow: 0px 0px 15px -3px #0000001A;
  cursor: pointer;
}

.order-tabs button.tab-button.active {
  background: #FCF9DA;
  border: 1px solid var(--primary);
  opacity: 1;
}

.order-tabs {
  margin: 11px 0 0;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 0 0 14px;
  border-bottom: 1px solid rgb(63 63 70 / 10%);
}
.ai_img {
    position: relative;
}
.ai_img.active img {
    opacity: .5;
}
.ai_img.active:before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(https://cdn.shopify.com/s/files/1/0744/8477/7193/files/check.png?v=1747372645) center no-repeat;
    background-size: contain;
    position: absolute;
    right: -4px;
    z-index: 9;
    top: -2px;
}
.skeleton-loader {
     max-width: 95px;
    width: 100%;
    min-height: 95px;
    aspect-ratio: 2/2;
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    background-size: 200% 100%;
    animation: loading 1.2s ease-in-out infinite;
    border-radius: 10px;
    display: inline-block !important;
  }

  @keyframes loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }


.color-main{
  margin-top: 10px;
}